<div>

    <h2>Wareingangsbuchungen</h2>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Kommentare</th>
                <th>Optionen</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="goodsReceipt in goodsReceipts">
                <td>{{ goodsReceipt.id }}</td>
                <td>
                    <ul>
                        <li v-for="comment in goodsReceipt.comments">{{ comment }}</li>
                    </ul>
                </td>
                <td><router-link v-bind:to="`/details/${goodsReceipt.id}`">Details</router-link></td>
            </tr>
        </tbody>
    </table>
    
</div>