<div>
    <h1>Maschinen</h1>

    <select v-model="selectedGroup">
        <option v-for="group in groups" v-bind:value="group" >
            {{ group }}
        </option>
    </select>
    
    <div v-for="machine in machinesInSelectedGroup">
        <p>
            {{ machine.name }} - Geschwindigkeit: {{ machine.speedMeterPerSecond }} Meter / Sekunde
            <vue-slider :min="0" :max="10" tooltip="hover" :interval="0.1" v-model="machine.speedMeterPerSecond"></vue-slider>
            <!-- <button @click="reportFailure(machine)">Störung!</button> -->
            <button @click="machine.reportFailure()">Störung!</button>
            <textarea v-model="machine.messages" style="width: 100%;" />
        </p>
    </div>
</div>