<div>
    <h1>Leitstand</h1>

    <select v-model="selectedGroup">
        <option v-for="group in groups" v-bind:value="group" >
            {{ group }}
        </option>
    </select>

    <div class="container">
        <div class="row align-items-center" v-for="(machineStatus, index) in machinesStatus">
            <div class="col-1">
                <span>{{ machineStatus.name }}</span>
            </div>
            <div class="col-auto">
                <gauge-js :canvasId="index" v-bind:value="machineStatus.machine.speedMeterPerSecond" ></gauge-js>
            </div>
            <div class="col-auto">
                <speed-histogram style="height:200px" :chartData="machineStatus.chartData" ></speed-histogram>
            </div>
            <div class="col-1">
                <textarea v-model="machineStatus.message" />
                <button v-on:click="sendMachineMessage(machineStatus)">Nachricht senden</button>
            </div>
        </div>
    </div>

    <p>Group Message</p>
    <textarea v-model="groupMessage" />
    <button v-on:click="sendGroupMessage">Nachricht an Gruppe senden</button>
    <button v-on:click="sendAllMessage">Nachricht an alle senden</button>
</div>